body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.starter-template pre {
  text-align: left;
  width: 550px;
}
.title {
  font-weight: bold;
}
.post {
  font-weight: bold;
}
